<!DOCTYPE HTML>
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Bootstrap CSS CDN #}
  <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      type="text/css">

   {# Font Awesome CSS CDN #}
  <link rel="stylesheet" type="text/css"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  {# Custom CSS #}
  <link rel="stylesheet" href="../static/css/main.css" type="text/css">

  <title>Image Site</title>
{% endblock %}

{# Top navbar. #}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header col-xs-5">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        Image Site
      </a>
    </div> {# end navbar-header #}
    <div class="col-xs-7">
      <div class="navbar-links pull-right">
        {# User name and log in/out links. #}
        {% if current_user.is_authenticated %}
          <a id="create-post" href="{{ url_for('createPost') }}">
            New Post
          </a>
          <a href="{{ url_for('viewProfile',
              user_name=current_user.user_name) }}">
            Profile
          </a>
          <a id="logout" href="{{ url_for('logout') }}">
            Logout
          </a>
        {% else %}
          <a id="login" href="{{ url_for('login') }}">
            Login
          </a>
        {% endif %}
      </div> {# end navbar-links #}
    </div> {# end col #}
  </div> {# end container #}
</nav> {# end navbar #}

{# List flashed messages. #}
{% with messages = get_flashed_messages(with_categories=true) %}
  <div class="container">
    <div id="flash-alerts" class="row">
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable"
              role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
              </span>
              <span class="sr-only">
                Close
              </span>
            </button>
            <p>
              {{ message }}
            </p>
          </div> {# end alert #}
        {% endfor %}
      {% endif %}
    </div> {# end row #}
  </div> {# end container #}
{% endwith %}

{% block body %}{% endblock %}
