﻿<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
            <a href="#">
                About
            </a>
        </li>
        {# User name and log in/out links. #}
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('createPost') }}">
                    New Post
                </a>
            </li>
            <li>
                <a href="#">
                    Contact
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ current_user.user_name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{{ url_for('viewProfile', user_name=current_user.user_name) }}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Posts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Inbox
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    </li>

                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            </li>
        {% endif %}
    </ul> {# end nav navbar-nav #}
</div> {# end collapse navbar-collapse #}
